doctype html
html(lang="en")
	head
		title="Ming's Tweets!"

		link(type="text/css", rel="stylesheet", href="static/css/index.css")

	body
		svg(class="chart")

		script(type="text/javascript", src="bower_components/jquery/dist/jquery.min.js")
		script(type="text/javascript", src="bower_components/d3/d3.min.js")
		script(type="text/javascript", src="static/js/index.js")