doctype html
html(lang="en")
    head
        title="Ming's Tweets!"

    body
        ul(class="nav nav-tabs" role="tablist")
            li(class="active")
                a(href="#timeseries" role="tab" data-toggle="tab")
                    | Ming's Activity!
            li
                a(href="#friends" role="tab" data-toggle="tab")
                    | Ming's Friends!

        .tab-content
            .tab-pane.active#timeseries
                svg(class="chart")

            .tab-pane#friends
                svg(class="chart")

        link(type="text/css", rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
        link(type="text/css", rel="stylesheet", href="static/css/index.css")

        script(type="text/javascript", src="bower_components/jquery/dist/jquery.min.js")
        script(type="text/javascript", src="bower_components/bootstrap/dist/js/bootstrap.min.js")
        script(type="text/javascript", src="bower_components/d3/d3.min.js")
        script(type="text/javascript", src="static/js/index.js")